@import '../../../styles/variables';

.profile_sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 20%;
  padding: 20px;
  background-color: #f4f4f4;
}

.profile_sidebar p {
  margin: 10px 0;
}

.profile_sidebar button {
  display: block;
  background-color: $color-bg;
  color: #fff;
  border: none;
  cursor: pointer;
}

.left-buttons {
  width: 150px;
  padding: 10px;
}
