@use 'reset';
@use 'fonts';
@use 'variables' as v;

body {
  margin: 0;
  font-family: 'Roboto', 'Press Start 2P', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
