.profile_container {
  display: flex;
  width: 100%;
}

.edit {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 75px;

  &__title {
    font-size: 2rem;
    margin: 25px;
  }

  &__card {
    font-weight: bold;
    display: flex;
    gap: 25px;
    width: 250px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.7rem;

    filter: drop-shadow(1px 2px 0.2rem gray);

    .edit__profile-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__form {
    width: 100%;
    justify-content: center;
    height: 500px;
    background-image: url('../../../assets/img/background-images/Designer.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
      display: flex;
      gap: 50px;
      margin-top: 25px;
      flex-wrap: wrap;
      background-color: transparent;
      border: 2px solid rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(15px);
      padding: 1rem;
      border-radius: 10px;
    }
  }
}

.edit .edit__form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em 0;
  gap: 10px;
}

.edit__profile-card-buttons button,
.create__form-button,
.update__form-button {
  padding: 0.2em 1em;
}

.edit__form-buttons,
.edit__profile-card-buttons {
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.edit__profile {
  display: flex;
  justify-content: start;
  gap: 25px;
  margin-left: 20px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.edit__form-left {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.edit__form-left div {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.edit__form_annonce {
  width: 70%;
  justify-content: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 0 auto;
  height: 80%;
}

.edit__form-button {
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  background-color: black;
  color: white;
  border: none;
  box-shadow: none;
  padding-block: 0.3em;
}

input,
select {
  background: transparent;
  outline: none;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  padding: 0.5em;
}

.edit__form_annonce label {
  color: black;
}
.schedule_inputs {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.schedule_inputs input {
  width: 50%;
}

.edit__form-main {
  position: relative;
  height: 250px;
  width: 300px;
}
.edit__form-side {
  height: 250px;
  width: 400px;
}
form textarea {
  width: 100%;
  height: 180px;
  resize: none;
}

.edit__form-select,
.edit__form-textarea {
  background: transparent;
  outline: none;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  padding: 0.5em;
}

.edit__form-textarea {
  height: 100px;
}

button {
  border-radius: 10px;
  --bg: #000;
  --hover-bg: #00ffff;
  --hover-text: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

button:active {
  transform: translate(0);
  box-shadow: none;
}

input {
  background: transparent;
  outline: none;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  padding: 0.5em;
}

::placeholder {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

@media screen and (max-width: 1250px) {
  .profile_container {
    display: flex;
    font-family: "Roboto", sans-serif;
    flex-direction: column;
    align-items: center;
  }
  .profile_sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #f4f4f4;
    gap: 30px;
  }
  .edit__title {
    font-size: 2rem;
    margin: 25px;
    text-align: center;
  }
  .edit__profile {
    display: flex;
    gap: 25px;
    overflow-x: auto;
  }
}