.edit {
  &__card {
    display: flex;
    justify-content: end;
    gap: 100px;

    .edit__profile-card {
      display: flex;
      width: 50vh;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
    gap: 25px;
    margin-top: 25px;
    color: black;
  }
}

.edit__form-left {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

form {
  justify-content: space-between;
  height: 100%;
}

form label {
  color: black;
}

.schedule_inputs {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.schedule_inputs input {
  width: 50%;
}

.edit__form-button {
  background-color: black;
  color: white;
  border: none;
  box-shadow: none;
  padding-block: 0.3em;
}

.edit__form {
  padding: 2em 0;
}
.edit__form-textarea {
  resize: none;
}
@media screen and (max-width: 768px) {
  .edit__form {
    padding: 1em 0;
  }
}
