@import '../../styles/variables';

.footer {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #1a1a1a;
  padding: 20px;
  color: #00ffff;
  width: 100%;
  border-top: 5px solid #1a1a1a;


  &__logo {
    font-size: 2rem;
    font-weight: bold;;
    font-family: 'Press Start 2P';
    color: $color-ElectricCyan
  }

  &__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;

    &-title {
      margin-bottom: 10px;
      color: $color-ElectricCyan;
    }

    &-icons {
      display: flex;
      gap: 10px;
      list-style: none;
      padding: 0;
      margin: 10px;

      li a img {
        width: 30px;
        height: 30px;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-ElectricCyan;
    margin: 0 20px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin: 5px 0;

        h1 {
          font-size: 1.5rem;
          margin-bottom: 5px;
        }

        a {
          text-decoration: none;
          color: inherit;
          transition: color 0.3s ease;
          &:hover {
            color: $color-NeonPink;
          }
        }
      }
    }
  }

  &__copyright {
    font-size: 0.9rem;
    margin: 0 20px;
  }
}

@media screen and (max-width: 675px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
}

@media screen and (max-width: 415px) {
  .footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media sreen and (max-width: 975px) {
  .header {
    display: block;
    text-align: center;
  }

  .header__logo {
    margin-bottom: 20px;
  }

  .header__nav {
    display: inline-block;
  }
}
