@import '../../styles/variables';

.login {
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  padding: 20px;

  gap: 10vh;

  &__connexion {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #ccc;

    .login__title {
      font-size: 2rem;
      margin-bottom: 20px;
    }

    .login__form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      

      .login__form-label {
        margin-bottom: 10px;
        color: $color-bg;
      }

      .login__form-input {
        padding: 5px;
        border: none;
        border-bottom: 1px solid #ccc;

        &:focus {
          outline: none;
        }
      }
    }

    .login__button__style{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 10px;
      padding: 10px 20px;
      background-color: $color-DeepPurple;
      color: $color-bg;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }


    .login__forgot-password {
      margin-top: 20px;
      font-size: 0.8rem;
      font-weight: 400;
      padding: 10px;

      .login__forgot-password-link {
        color: $color-DeepPurple;
      }
    }
  }

  &__inscription {
    display: flex;
    flex-direction: column;
    align-items: center;

    .login__title {
      font-size: 2rem;
      margin-bottom: 20px;
    }

    .login__figure {
      display: flex;
      flex-direction: column;
      align-items: center;

      .login__figure-img {
        object-fit: contain;
        width: 200px;
        height: 200px;

        border-radius: 10px;
      }

      .login__figure-text {
        margin-top: 20px;
      }

      .login__figure-button {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: $color-DeepPurple;
        color: $color-bg;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .login {
    display: flex;
    flex-direction: column;
    }
}

//* Revoir responsive design, probleme au niveau des inputs, ils ne sont pas alignés et vont
//* en dehors de la page sur la droite côté navigateur

// @media screen and (max-width: 300px) {
//   .login__form {
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     .login__form-input {
//       width: 20vh;
//     }
//   }
//   .login__form-input {
//     width: 40vh;
//   }
// }
