// Set style on the Contact component
@import '../../../styles/variables';

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  &__title {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #fff;
  }

  &__discord-username {
    font-size: 1.2rem;
    margin-bottom: 10px;
    border: 2px solid $color-DeepPurple;
    color: $color-DeepPurple;
    padding: 5px;
    border-radius: 5px;
  }

  &__button {
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 10px;
    padding: 5px 10px;
    border: none;

    &:hover {
      background-color: #fff;
      color: #000;
    }
  }

  &__steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 0;

    .contact__step {
      display: flex;
      align-items: center;
      margin: 10px 0;
      padding: 5px;
      border: 2px solid #ffffff;
      border-radius: 5px;
      color: #ffffff;
    }
  }
}
